body {
    font: Arial, Helvetica, sans-serif;
}
.index_main {
    max-width: 800px;
    margin: 0 auto;
}
header, footer{
    color: white;
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(16, 154, 196);
}
header h1 {
    font-size: 32px;
    padding-left: 95px;
}
section{
    padding: 0 15px;
}
section h2 {
    border-bottom: 1px solid black;
}
.profilePic {
    float: right;
    box-shadow: 0 0 18px black;
    margin: .5em;
}
footer {
    clear:both;
    text-align: center;
}
footer a, footer a:link, foorer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}
footer a:hover {
    color: #DDD;
}
.legal {
    font-size: .9em;
    margin-bottom: 9px;
}
.update {
    font-size: .9em;
    color: yellow;
    margin-top: 0;
}