#icon {
    max-width: 3em;
    height: auto;
    padding: .5em;
}
header, footer {
    background-color: #284b63;
}
header {
    display: grid;
    grid-template-columns: 4em auto 4em;
    margin: 0;
}
header h1{
    grid-column: 2;
    font-size: 25px;
    text-align: center;
}
button {
    grid-column: 3;
    background-color: #284b63;
    border: none;
    color: white;
    align-items: right;
    padding: 0;
}
button a:link, button a:visited, button a:hover, button a:active button a:focus {
    background-color: #284b63;
    color: white;
    text-decoration: none;
    padding: 1.25em;
    cursor:pointer; 
}
nav {
    margin-top: auto;
}
#nav {
    list-style: none;
    display: grid;
    grid-template-columns: auto;
    padding: 0;
    margin-top: 0;
    background-color: #284b63;
}
#nav li {
    display: none;
}
#nav a:link, #nav a:visited, #nav a:hover, #nav a:active #nav a:focus {
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
#navigation a {
    text-decoration: none;
}
#nav a:hover {
    color: white;
    background-color: #353535;
}
#nav.resonsive li {
    display: block;
}
body {
    font-family: "Fraunces", serif;
    background-color: #3c6e71;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
}
.summary {
    padding: 1em;
}
h2 {
    padding-left: .5em;
    margin: 0;
    margin-bottom: .5em;
}
#hero {
    max-height: 15%;
    max-width: 100%;
}
.forecast {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    border: solid #353535 2px;
}
.week img {
    max-width: 10%;
    padding: 10px;
}
.article {
    padding: 1em;
}
#portrait {
    max-width: 30%;
    float: right;
}
.contact p {
    text-align: left;
    padding: .4em;
}
#address {
    display: none;
}
.media {
    display: none;
}
#map {
    max-width: 80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus  {
    color: #FFFFFF;
}
footer {
    padding: 1em;
}
footer h3 {
    margin: 0;
}
footer p{
    font-size: 11px;
    margin: auto;
    text-align: center;
}
.smallDate {
    display: none;
}
.date {
    padding-top: 1em;
    padding-bottom: 1em;
}