@media only screen and (min-width: 37.5em) {
    header {
        grid-template-columns: 2em 92%;
    }
    #icon {
        max-width: 4em;
    }
    header h1 {
        font-size: 30px;
    }
    nav a{
        font-size: 18px;
    }
    nav {
        max-width: 100%;
    }
    #nav {
        grid-template-columns: repeat(7,auto);
    }
    #nav li {
        display: block;
    }
    #nav a:link, #nav a:visited, #nav a:hover, #nav a:active #nav a:focus {
        text-align: center;
    }
    button {
        display: none;
    }
    main p {
        line-height: 1.3;
    }
    #hero {
        max-height: 5%;
        width: 50%;
    }
    .forecast {

    }
    #forecast {
        max-width: 7%;
    }
    #portrait {
        max-width: 15%;
    }
    #map {
        max-width: 20%;
    }
    footer p{
        font-size: 14px;
    }
}