body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8em 1fr;
    background-color: aqua;
    font-family: 'Bodoni Moda', serif;
}
header{
    grid-row: 1;
    grid-column: 1;
    background-color: antiquewhite;
    text-align: center;
}
h1{
    font-size: 3em;
    margin: 0 auto;
    
}
h2 {
    text-align: center;
}
.link {
    text-align: center;
}
.white_space, .rule_of_thirds, .hicks_law {
    border-radius: 10px;
}
main a, main a:link, main a:visited, main a:hover, main a:active, main a:focus  {
    color: black;
}
img {
    width: 25em;
}
.rule_of_thirds {
    grid-row: 2;
    grid-column: 1;
    background-color: white;
    margin: 15px;
    padding: 10px;
    text-align: center;
    margin-bottom: auto;
}
.white_space {
    grid-row: 3;
    grid-column: 1;
    background-color: white;
    margin: 15px;
    padding: 10px;
    text-align: center;
    margin-bottom: auto;
}
.hicks_law {
    grid-row: 4;
    grid-column: 1;
    background-color: white;
    margin: 15px;
    padding: 10px;
    text-align: center;
    margin-bottom: auto;
}
footer {
    clear:both;
    grid-row: 5;
    grid-column: 1;
    text-align: center;
    font-size: 18px;
    background-color: antiquewhite;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: black;
}
footer a:hover {
    color: #DDD;
}
.legal {
    font-size: .9em;
    margin-bottom: 9px;
}
.update {
    font-size: .9em;
    color: gray;
    margin-top: 0;
}