@media only screen and (min-width: 60em) {

    body {
        grid-template-columns: 3em 1fr 1fr 1fr 3em;
    }

    header{
        grid-column: 2 /span 3;
    }
    
    .rule_of_thirds {
        grid-column: 2;
    }
    .white_space {
        grid-column: 3;
    }
    .hicks_law {
        grid-column: 4;
        grid-row: 2;
    }
    footer {
        grid-column: 2 /span 3;
    }
}