body {
  background-color: #f0ebe7ff;
  font-family: 'Open Sans', sans-serif;
  color: #535353;
}

header {
  background-color: #5686b3ff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4em 3fr 1fr;
      grid-template-columns: 4em 3fr 1fr;
  margin: 0;
}

header img {
  padding: .5em;
}

header p {
  margin: 0;
  padding-top: 1em;
}

header button {
  -ms-grid-column: 1;
  grid-column: 1;
  background-color: #5686b3ff;
  border: none;
  color: #f0ebe7ff;
  padding: 0;
  cursor: pointer;
}

header a:link, header a:visited, header a:hover, header a:active a:focus {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #f5f5f5ff;
  width: 50px;
}

nav {
  margin-top: auto;
}

nav #nav {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 0;
  margin-top: 0;
  background-color: #5686b3ff;
}

nav #nav li {
  display: none;
}

nav #nav a:link, nav #nav a:visited, nav #nav a:hover, nav #nav a:active a:focus {
  display: block;
  padding: 0.75em;
  text-align: left;
  text-decoration: none;
  color: #f5f5f5ff;
  font-weight: bold;
}

nav #nav a.active-page {
  background-color: #d4e5efff;
  color: #5686b3ff;
}

nav #nav a {
  text-decoration: none;
}

nav #nav a:hover {
  color: #5686b3ff;
  background-color: #d4e5efff;
}

nav #nav.resonsive li {
  display: block;
}

main .temples_banner {
  position: relative;
}

main .temples_banner img {
  width: 100%;
}

main .temples_banner .left {
  position: absolute;
  left: 1em;
  top: 40%;
  width: 40px;
  height: 40px;
  background-color: #ffffffea;
  border: none;
  border-radius: 50px;
}

main .temples_banner .left .material-icons {
  color: #535353;
}

main .temples_banner .right {
  position: absolute;
  right: 1em;
  top: 40%;
  width: 40px;
  height: 40px;
  background-color: #ffffffea;
  border: none;
  border-radius: 50px;
}

main .temples_banner .right .material-icons {
  color: #5686b3ff;
}

main .content {
  padding: .5em;
}

footer {
  background-color: #d4e5efff;
  padding: 1em;
}

footer div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

footer .material-icons {
  padding-bottom: -2em;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding-top: .5em;
}

footer a:link, footer a:visited, footer a:hover, footer a:active a:focus {
  text-decoration: none;
  color: #535353;
}

footer a {
  text-decoration: none;
}

footer .legal {
  text-align: center;
}

footer .legal a:link, footer .legal a:visited, footer .legal a:hover, footer .legal a:active a:focus {
  color: #5686b3ff;
}

/*Medium*/
@media only screen and (min-width: 37.5em) {
  header {
    -ms-grid-columns: 8fr 1fr;
        grid-template-columns: 8fr 1fr;
  }
  header img {
    padding-left: 1em;
    padding-top: 2em;
    width: 150px;
  }
  header p {
    margin: 0;
    margin-right: .5em;
    padding-top: 2.25em;
  }
  header button {
    display: none;
  }
  nav {
    max-width: 100%;
  }
  nav #nav {
    padding-top: 2em;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
  }
  nav #nav li {
    display: block;
  }
  nav #nav a:link, nav #nav a:visited, nav #nav a:hover, nav #nav a:active a:focus {
    text-align: center;
    border-radius: 25px 25px 0 0;
    font-size: 18px;
  }
  main {
    margin: 0 10%;
  }
  main .temples_banner {
    margin: 0 auto;
    max-width: 800px;
  }
  main .temples_banner img {
    max-width: 100%;
  }
  main .temples_banner .left {
    top: 45%;
  }
  main .temples_banner .right {
    top: 45%;
  }
  footer {
    margin: 0 10%;
  }
  footer div {
    max-width: 450px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 60em) {
  header {
    -ms-grid-columns: 12% 10fr .75fr;
        grid-template-columns: 12% 10fr .75fr;
  }
  header img {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  header p {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  nav {
    background-color: #5686b3ff;
  }
  nav #nav {
    width: 80%;
    margin: auto;
  }
}
