@media only screen and (min-width: 60em) {
    header h1 {
        font-size: 60px;
        margin-top: 4.5%;
    }
    #icon {
        margin: 10%;
    }
    header {
        grid-template-columns: 7% 85%;
    }
    section {
        margin: 0 10%;
    }
    section p {
        line-height: 1.5;
    }
    .colors {
        grid-template-columns: 50% 25% 25%;
        margin: 0;
    }
    .row1 {
        font-size: 50px;
    }
    .row2 {
        font-size: 20px;
    }
    .row3 {
        font-size: 30px;
    }
    .row4 {
        font-size: 24px;
    }
    .row5 {
        font-size: 18px;
    }
    .row6 {
        font-size: 16px;
    }
    section p{
        font-size: 18px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    ol li {
        font-size: 18px;
    }
    footer p{
        font-size: 16px;
    }
}