/*Colors 353535,main: 3c6e71,font: ffffff,d9d9d9, H and F284b63*/

#icon {
    max-width: 100%;
    height: auto;
}
header h1{
    grid-column: 2;
    font-size: 30px;
    text-align: center;
    margin-top: .4em;
}
header, footer {
    background-color: #284b63;
    padding: .5em;
}
header {
    display: grid;
    grid-template-columns: 4em 1fr;
}
nav {
    grid-column: 1 /span 2;
    text-align: center;
}
nav ul {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: .5em;
    /*vertical-align: middle;*/
	list-style-type: none;
	margin: auto;
	padding: 3px;
}
nav a{
    text-decoration: none;
}
nav a, nav a:link, nav a:visited, nav a:hover, nav a:active, nav a:focus  {
    color: #FFFFFF;
}
nav a:hover {
    background-color: white;
    padding: 2px;
    color: #353535;
}
ol li {
    padding: 5px;
}
main {
    font-family: 'Fraunces', serif;
    background-color: #3c6e71;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
}
section {
    padding: 1em;
}
.colors {
    display: grid;
    align-content: center;
    background-color: #353535;
}
.colors p {
    margin: .5em;
}
.row1 {
    background-color: #284b63;
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
}
.row2 {
    background-color: #284b63;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
}
.row3 {
    background-color: #3c6e71;
    font-size: 24px;
    padding: 5px;
    border-radius: 10px;
}
.row4 {
    background-color: #3c6e71;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
}
.row5 {
    background-color: #3c6e71;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
}
.row6 {
    background-color: #284b63;
    font-size: 11px;
    padding: 5px;
    border-radius: 10px;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus  {
    color: #FFFFFF;
}
footer p{
    font-size: 11px;
    margin: auto;
    padding: 2px;
    text-align: center;
}